<header class="page-header inner">
    <div class="container animate-up">
        <a href="/" class="back">
            <img src="/images/back.svg" alt="" />
        </a>
        <h1>
            <!-- Colocando o simbolo de igual ele irá receber uma variavel
                 que no caso vem do include feito na view -->
            <%= title %>
        </h1>
    </div>
</header>